body {
    font-family: arial, "Times New Roman", sans-serif;
   width: 100%;
   
}

body h2 {
    font-size: 2em;
    
}
header img{
   width: 100%;
}


nav {
    display: none;
}




main .content{
    border-left: none;
    width: 100%;
    margin-left: 0;
    
  
}

main .content p {
    line-height: 1.4em;
    font-size: 2em;
}
main .content h3{
    font-size: 2em;
}
main .content ul {
    font-size: 2em;
    line-height: 1.4em;
    padding: 2px;
}
main .column{
    width: 24%;
}

footer {
  
    border: none;
}

footer h4 {
    font-size: 1.5em;
    padding-top: 2em;
}
footer p{
    font-size: 1.5em;
    padding-top: 2em;
}

.links img,a{
    display: none;
}

main .loginform {
    height: 600px;
     border:solid #000;
}
#submitbtn{
    font-size: .65em;
    
}
main .loginform input, textarea{
     border:solid #000;
}
.loginform h3{
    font-size: 1.5em;
}
main iframe{
    display: none;
}
main .section{
    width: 100%;
}