* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #404040;
}

body {
    width: 90%;
    background-color: #fff;
    margin: 15px auto;
   
    
}

header, nav, main, footer {
    padding: 1em;
}

main p {
    margin-bottom: 1em;
    line-height: 1.25em;
    padding-top: 20px;
    width: 800px;
    padding-right: 15px;
    
}
main ul li{
    padding-right: 15px;
}
header{
      width:1150px;
padding-left:35px;
 padding-top:5px;
}



header img{
    
    width:1140px;
 
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.content{
     float: right;
    width: 840px;
    padding-left: 40px;
 
}
.content h2{
    margin-bottom: 10px;
}
.content h4{
    margin-bottom: 10px;
}





.content img{
   
    width: 770px;
    height: 220px;
   border:1px solid #682721;
   margin-top: 20px;
  
}
nav{
    margin-left: 10px;
}

.sidebar { float: left; 
width: 280px;

padding-left: 25px;
padding-top:15px;
}
.sidebar h3{
    padding-top:5px;
    padding-left:90px;
}



#quote{
    float: right;
    color:chocolate;
    font-weight: bold;
    font-size: 25px;
    width: 240px;
    padding-right:140px;
}
.sidebar a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	text-align: center;
	font-size: 1.1em;
    color: white;
}

.sidebar visited{
    text-decoration: none;
}
.sidebar a:hover{
    color: yellow;
    text-decoration: underline;
    font-weight: bold;
    
}
.highlighted{
  color:yellow;
 }
.sidebar .current{
    background-color:grey;
}
 
.sidebar ul{
   
    width: 250px;
   background-color: #682721;
    padding: 20px;
    border-radius: 5px;
    list-style: none;
}
 .social{
    
     margin-left: 40px;
 }
 .social a{
    
     margin-top: 0px;
     float: left;
     padding: 10px;
     
 }

footer {
   
    clear: both;
  border: 1px solid black;
  margin: 43px;
  margin-bottom: 0px;
 
 
 
}
footer p{
    font-size: .85em;
}

 .links a{
      
     padding: 5px;
     padding-top:0px;
    
     float: right;
   
 }
  .link a{
      
    
     padding: 5px;
     padding-top:0px;
     
 }
 .link{
     margin-bottom:0px;
     margin-left:530px;
     padding-bottom: 0px;
 }

.loginform{
    
    width: 750px;
    height: 420px;
    background-color: #F8F8F8;
    border: 1px solid black;
    margin-bottom: 25px;
    padding-bottom: 10px;
   
}
.loginform h3{
    padding-left: 20px;
    padding-top:8px;
    
}
.loginform p{
   
   
    
    padding-left: 20px;
    
    
    
}
.loginform input{
    margin-left: 20px;
    height: 10px;
    width: 525px;
    padding: 10px;
 
}
.loginform textarea{
     margin-left: 20px;
}
#submitbtn{
    margin-left: 1.7em;
    width: 8em;
    margin-top: .75em;
    height: 2.5em;
    font-weight: bold;
}
.list li{
    list-style: none;
    
}
.list{
    line-height:2em;
}

.highlights img{
    width: 150px;
    height: 150px;
    float:right;

  margin: 0px 0px 15px 20px;

}
.highlights{
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.highlight img{
    width: 150px;
    height: 150px;
    float:right;

  margin: 0px 0px 15px 20px;

}
.highlight{
    margin-bottom: 20px;
}
.second img{
    float:right;
    width: 150px;
    height: 150px;
    margin-top:60px;
}



.section{
    
    background-color: #F8F8F8;
    margin:10px;
    padding:15px;
    float: right;
    margin-right: 30px;
    width: 760px;
  
}
.imgbox img{
    
    width: 200px;
    height: 200px;
    float: right;
}



.contt .imgbx img{
    max-width: 200px;
    float:right;
    padding-left:300px;
   
}
.contt .imgbx .conte{
    width: 500px;
}
